:root {
  --background-primary: #ffffff;
  --background-light-80: #ffffff99;
  --background-light-10: rgba(255, 255, 255, 0.1);
  --background-secondary: #e5e5e5;
  --background-hero: #2f303a;
  --accent: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --logo: #000000;
  --accent-secondary: #f5f4fa;
  --hero-btn-hover: #188ce8;
  --header-bottom-border: #ececec;
  --exemples-item-border: #eeeeee;
  --social-items-our-client: #afb1b8;
  --dooing-overlay: rgba(47, 48, 58, 0.8);
  --exemples-overlay: rgba(33, 150, 243, 0.9);
  --input-plaсeholder: rgba(117, 117, 117, 0.5);
  --input: rgba(33, 33, 33, 0.2);
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
