/* панель навигации */
// .header {
//   border-bottom: 1px solid var(--header-bottom-border);
// }
// .header-logo {
//   padding-top: 24px;
//   padding-bottom: 25px;
//   margin-right: 93px;
// }
// .header-container {
//   display: flex;
//   align-items: center;
// }
// .nav-bar {
//   display: flex;
// }
// .menu-links {
//   display: flex;
// }
/* внешний отступ всем кроме последнего */
// .menu-item:not(:last-child) {
//   margin-right: 50px;
// }
// .header-link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }
// .menu-link {
//   color: var(--secondary-text-color);
//   line-height: 1.14;
//   font-weight: 500;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   transition-property: color;
//   transition-duration: var(--transition-duration);
//   transition-timing-function: var(--timing-function);
//   position: relative;
//   &:hover,
//   &:focus {
//     color: var(--accent);
//   }
// }

// .current {
//   color: var(--accent);
//   &::after {
//     content: '';
//     display: inline-block;
//     position: absolute;
//     left: 0;
//     bottom: -1px;
//     width: 100%;
//     height: 4px;
//     background-color: var(--accent);
//     border-radius: 2px;
//   }
// }

/* контакты */
/* .contacts {
} */
// .contacts {
//   display: flex;
//   margin-left: auto;
// }
// .contacts-item {
//   display: flex;
//   align-items: center;
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }
// .contact-icon {
//   fill: var(--primary-text-color);
//   margin-right: 10px;
//   transition-property: fill;
//   transition-duration: var(--transition-duration);
//   transition-timing-function: var(--timing-function);
//   .contacts-item:hover &,
//   .contacts-item:focus &,
//   .contact-link:hover &,
//   .contact-link:focus & {
//     fill: var(--accent);
//   }
// }

// .contact-link {
//   display: flex;
//   align-items: center;
//   color: var(--primary-text-color);
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   transition-property: color;
//   transition-duration: var(--transition-duration);
//   transition-timing-function: var(--timing-function);
//   &:focus,
//   &:hover {
//     color: var(--accent);
//   }
// }

.header {
  @media screen and (min-width: 768px) {
    border-bottom: 1px solid var(--header-bottom-border);
  }
}

.mobile-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all var(--transition-duration) var(--timing-function);

  background-color: var(--background-primary);
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.mobile-menu-btn {
  width: 40px;
  height: 40px;
  padding: 12px 8px;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.close-menu {
  @include close-btn;
  top: 10px;
  right: 15px;
  color: var(--accent);
  outline: none;
  &:focus,
  &:hover {
    .menu-icon {
      outline: none;
      fill: currentColor;
    }
  }
}
.menu-icon {
  &:hover,
  &:focus {
    outline: none;
    fill: currentColor;
  }
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent);
    outline: none;
  }
}
.current {
  color: var(--accent);
}
.mobile-menu-tel {
  color: var(--accent);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  margin-bottom: 32px;
}
.mobile-menu-mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  margin-bottom: 64px;
}
.mobile-socials {
  display: flex;
  flex-wrap: wrap;
}
.mobile-socials-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 21px;
    &::after {
      content: '';
      position: absolute;
      right: -10px;
      top: 0;
      height: 100%;
      display: block;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
.mobile-social-link {
  color: var(--accent);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}
// Меню в планшете и телефоне
.common-menu {
  // display: flex;
  // align-items: center;
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.menu {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}
.nav-bar {
  display: flex;
  align-items: center;
}
.menu-links {
  display: flex;
}
/* внешний отступ всем кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-link {
  color: var(--secondary-text-color);
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  position: relative;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.current {
  color: var(--accent);
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
  }
}
.contacts {
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.contacts-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.contact-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  &:focus,
  &:hover {
    color: var(--accent);
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.14;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.mail-link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
    margin-bottom: 10px;
  }
}

.phone-link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 21px;
  }
}

.contact-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  .contacts-item:hover &,
  .contacts-item:focus &,
  .contact-link:hover &,
  .contact-link:focus & {
    fill: var(--accent);
  }
}
